* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3 {
    color: #D2B48C;
    text-shadow: #000 3px 2px 3px;
}

.nav-container {
    background-color: #FFDEAD;
    height: 80px;
}

.logo {
    height: 80px;
    padding: 2px 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-items a {
    color: #D2B48C;
    text-decoration: none;
    transition: .5s;
}

.nav-items a:hover {
    color: #CD853F
}

.nav-items .btn {
    padding: 15px 10px;
    background-color: #CD853F;
    border-radius: 5px;
}

.nav-items .btn:hover {
    color: #fff;
}

.main-banner {
    text-align: center;
    background-image: url("../img/main.png");
    background-size: cover;
    background-position: center;
    font-weight: bold;
    color: #fff;
    text-shadow: #000 3px 2px 3px;
    padding: 10rem 0;
}

.main-banner h1 {
    font-size: 55px;
}

.main-banner p {
    font-size: 25px;
    margin-top: 2rem;
}

.services {
    padding-top: 5rem;
    font-size: 18px;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.services h3 {
    font-size: 30px;
    margin-bottom: 5rem;
}

.services p {
    line-height: 24px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dashed #ccc;
}

.about {
    width: 60%;
    margin: 0 auto;
    list-style: none;
    padding: 20px;
    text-align: center;
}

.benefits {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.benefits-title {
    position: relative;
    top: 35px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    height: auto;
}

.benefits li {
    font-size: 25px;
    width: 30%;
    list-style: none;
    padding: 5rem;
    background-color: #f8e6f8;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.doubts {
    width: 60%;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.doubts p {
    margin-top: 1rem;
}

.doubts ul {
    justify-content: center;
}

.contact-container {
    text-align: center;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin: 40px 0;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"] {
    color: #fff;
    padding: 15px 10px;
    background-color: #CD853F;
    border-radius: 5px;    cursor: pointer;
    opacity: 0.8;
}

.contact-container input[type="submit"]:hover {
    opacity: 1;
}

footer {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    background-color: #CD853F;
}

footer p {
    color: #fff;
    height: 100px;
    line-height: 100px;
    text-shadow: #000 3px 2px 3px;
}

.fa-solid,
.fa-regular {
    font-size: 70px;
    margin-bottom: 2rem;
    text-shadow: #000 3px 2px 3px;
}

.fa-hand-holding-hand {
    color: #FFBEFF;
}

.fa-heart {
    color: #f42977;
}

.fa-thumbs-up {
    color: #0fd1a0;
}

.fa-comment {
    color: #0faed1
}